<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="attribute-list">
                <div class="property attribute attribute-hot">
                    <label data-attribute="hot">{{localize "IR.AttributeHot"}}</label>
                    <input type="number" name="data.attributes.hot.value" value="{{systemData.attributes.hot.value}}" />
                </div>
                <div class="property attribute attribute-quick">
                    <label data-attribute="quick">{{localize "IR.AttributeQuick"}}</label>
                    <input type="number" name="data.attributes.quick.value" value="{{systemData.attributes.quick.value}}" />
                </div>
                <div class="property attribute attribute-bright">
                    <label data-attribute="bright">{{localize "IR.AttributeBright"}}</label>
                    <input type="number" name="data.attributes.bright.value" value="{{systemData.attributes.bright.value}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="core">{{localize "IR.PlayerSectionCore"}}</a>
        <a class="item" data-tab="description">{{localize "IR.PlayerSectionDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <input type="text" name="data.core.name" value="{{systemData.core.name}}" class="input-core" />
            <div class="sheet-section">
                {{!-- Core Properties --}}
                <div class="sheet-property-group">
                    <div class="sheet-property">
                        <label>{{localize "IR.CorePattern"}}</label>
                        <input type="text" name="data.core.pattern" value="{{systemData.core.pattern}}" />
                    </div>
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreWeight"}}</label>
                        <input type="number" name="data.core.weight" value="{{systemData.core.weight}}" />
                    </div>
                </div>
                <div class="sheet-property-group">
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreAccel"}}</label>
                        <input type="number" name="data.core.accel" value="{{systemData.core.accel}}" />
                    </div>
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreBurnGate"}}</label>
                        <input type="number" name="data.core.burnGate" value="{{systemData.core.burnGate}}" />
                    </div>
                </div>
                {{!-- Speed and Drive Stress --}}
                <div class="sheet-property-list">
                    <div class="property">
                        <label>{{localize "IR.CoreSpeed"}}</label>
                        <input type="number" name="data.speed" value="{{systemData.speed}}" />
                    </div>
                    <div class="property">
                        <label>{{localize "IR.CoreDriveStress"}}</label>
                        <input type="number" name="data.driveStress" value="{{systemData.driveStress}}" />
                        <span> / </span>
                        <input type="number" name="data.data.core.burnGateReadonly" value="{{systemData.core.burnGate}}" readonly />
                    </div>
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Weapons</h3>
                <div class="item-list">
                    <div class="item-list-header">
                        <div class="item-list-heading item-name">Name</div>
                        <div class="item-list-heading item-band">Band</div>
                        <div class="item-list-heading item-hits">Hits</div>
                        <div class="item-list-heading item-harm">Harm</div>
                        <div class="item-list-heading item-attributes">Attacks</div>
                        <div class="item-list-heading item-controls">
                            <a class="weapon-control" title="{{ localize 'IR.ItemCreate' }}" data-action="create"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <ol class="item-list-body">
                        {{#each items.weapons as |item id|}}
                        <li data-item-id="{{item._id}}" class="item">
                            <div class="item-name">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                                <div>{{item.name}}</div>
                            </div>
                            <div class="item-band">{{item.data.band}}</div>
                            <div class="item-hits">{{item.data.hits}}</div>
                            <div class="item-harm">{{item.data.harm}}</div>
                            <div class="item-attributes">
                                <button class="item-attribute weapon-attribute attribute-hot" data-attribute="hot" type="button">{{localize "IR.AttributeHotShort"}}</button>
                                <button class="item-attribute weapon-attribute attribute-quick" data-attribute="quick" type="button">{{localize "IR.AttributeQuickShort"}}</button>
                                <button class="item-attribute weapon-attribute attribute-bright" data-attribute="bright" type="button">{{localize "IR.AttributeBrightShort"}}</button>
                            </div>
                            <div class="item-controls">
                                <a class="item-control weapon-control" title="{{ localize 'IR.ItemEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control weapon-control" title="{{ localize 'IR.ItemDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Passive</h3>
                <div class="editor-wrapper">
                    {{editor content=systemData.passive.content target="data.passive.content" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Overdrive</h3>
                <div class="editor-wrapper">
                    {{editor content=systemData.overdrive.content target="data.overdrive.content" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=systemData.biography target="data.biography" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>
