<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="attribute-list">
                <div class="property attribute attribute-hot">
                    <label data-attribute="hot">{{localize "IR.AttributeHot"}}</label>
                    <input type="number" name="data.attributes.hot.value" value="{{systemData.attributes.hot.value}}" />
                </div>
                <div class="property attribute attribute-quick">
                    <label data-attribute="quick">{{localize "IR.AttributeQuick"}}</label>
                    <input type="number" name="data.attributes.quick.value" value="{{systemData.attributes.quick.value}}" />
                </div>
                <div class="property attribute attribute-bright">
                    <label data-attribute="bright">{{localize "IR.AttributeBright"}}</label>
                    <input type="number" name="data.attributes.bright.value" value="{{systemData.attributes.bright.value}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="core">{{localize "IR.PlayerSectionCore"}}</a>
        <a class="item" data-tab="description">{{localize "IR.PlayerSectionDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <input type="text" name="data.core.name" value="{{systemData.core.name}}" class="input-core" />
            <div class="core-section">
                {{!-- Core Properties --}}
                <div class="core-property-group">
                    <div class="core-property">
                        <label>{{localize "IR.CorePattern"}}</label>
                        <input type="text" name="data.core.pattern" value="{{systemData.core.pattern}}" />
                    </div>
                    <div class="core-property">
                        <label>{{localize "IR.CoreWeight"}}</label>
                        <input type="number" name="data.core.weight" value="{{systemData.core.weight}}" />
                    </div>
                </div>
                <div class="core-property-group">
                    <div class="core-property">
                        <label>{{localize "IR.CoreAccel"}}</label>
                        <input type="number" name="data.core.accel" value="{{systemData.core.accel}}" />
                    </div>
                    <div class="core-property">
                        <label>{{localize "IR.CoreBurnGate"}}</label>
                        <input type="number" name="data.core.burnGate" value="{{systemData.core.burnGate}}" />
                    </div>
                </div>
                {{!-- Speed and Drive Stress --}}
                <div class="core-property-list">
                    <div class="property">
                        <label>{{localize "IR.CoreSpeed"}}</label>
                        <input type="number" name="data.speed" value="{{systemData.speed}}" />
                    </div>
                    <div class="property">
                        <label>{{localize "IR.CoreDriveStress"}}</label>
                        <input type="number" name="data.driveStress" value="{{systemData.driveStress}}" />
                        <span> / </span>
                        <input type="number" name="data.data.core.burnGateReadonly" value="{{systemData.core.burnGate}}" readonly />
                    </div>
                </div>
            </div>
            <div class="core-section-divider"></div>
            <div class="core-section">
                <h3 class="core-section-heading">Passive</h3>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=systemData.biography target="data.biography" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>
