<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="attribute-list">
                <div class="property attribute attribute-hot">
                    <label data-attribute="hot">{{localize "IR.AttributeHot"}}</label>
                    <input type="number" name="data.attributes.hot.value" value="{{systemData.attributes.hot.value}}" />
                </div>
                <div class="property attribute attribute-quick">
                    <label data-attribute="quick">{{localize "IR.AttributeQuick"}}</label>
                    <input type="number" name="data.attributes.quick.value" value="{{systemData.attributes.quick.value}}" />
                </div>
                <div class="property attribute attribute-bright">
                    <label data-attribute="bright">{{localize "IR.AttributeBright"}}</label>
                    <input type="number" name="data.attributes.bright.value" value="{{systemData.attributes.bright.value}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="core">{{localize "IR.PlayerSectionCore"}}</a>
        <a class="item" data-tab="description">{{localize "IR.PlayerSectionDescription"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Core Tab --}}
        <div class="tab core" data-group="primary" data-tab="core">
            <input type="text" name="data.core.name" value="{{systemData.core.name}}" class="input-core" />
            <div class="sheet-section">
                {{!-- Core Properties --}}
                <div class="sheet-property-group">
                    <div class="sheet-property">
                        <label>{{localize "IR.CorePattern"}}</label>
                        <input type="text" name="data.core.pattern" value="{{systemData.core.pattern}}" />
                    </div>
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreWeight"}}</label>
                        <input type="number" name="data.core.weight" value="{{systemData.core.weight}}" />
                    </div>
                </div>
                <div class="sheet-property-group">
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreAccel"}}</label>
                        <input type="number" name="data.core.accel" value="{{systemData.core.accel}}" />
                    </div>
                    <div class="sheet-property">
                        <label>{{localize "IR.CoreBurnGate"}}</label>
                        <input type="number" name="data.driveStress.max" value="{{systemData.driveStress.max}}" />
                    </div>
                </div>
                {{!-- Speed and Drive Stress --}}
                <div class="sheet-property-list">
                    <div class="property">
                        <label>{{localize "IR.CoreSpeed"}}</label>
                        <input type="number" name="data.speed" value="{{systemData.speed}}" />
                    </div>
                    <div class="property">
                        <label>{{localize "IR.CoreInertia"}}</label>
                        <input type="number" name="data.inertia" value="{{systemData.inertia}}" />
                    </div>
                    <div class="property">
                        <label>{{localize "IR.CoreDriveStress"}}</label>
                        <input type="number" name="data.driveStress.value" value="{{systemData.driveStress.value}}" />
                        <span> / </span>
                        <input type="number" value="{{systemData.driveStress.max}}" readonly />
                    </div>
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Weapons</h3>
                <div class="item-list">
                    <div class="item-list-header">
                        <div class="item-list-heading item-title">{{localize "IR.WeaponName"}}</div>
                        <div class="item-list-heading item-band">{{localize "IR.WeaponBand"}}</div>
                        <div class="item-list-heading item-hits">{{localize "IR.WeaponHits"}}</div>
                        <div class="item-list-heading item-harm">{{localize "IR.WeaponHarm"}}</div>
                        <div class="item-list-heading item-attributes">{{localize "IR.WeaponAttacks"}}</div>
                        <div class="item-list-heading item-controls">
                            <a class="item-control" title="{{ localize 'IR.ItemCreate' }}" data-action="create" data-item-type="weapon"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <ol class="item-list-body">
                        {{#each items.weapons as |item id|}}
                        <li data-item-id="{{item._id}}" class="item">
                            <div class="item-title">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                                <div class="item-name">{{item.name}}</div>
                            </div>
                            <div class="item-band">{{item.data.band}}</div>
                            <div class="item-hits">{{item.data.hits}}</div>
                            <div class="item-harm">{{item.data.harm}}</div>
                            <div class="item-attributes">
                                <button class="item-attribute weapon-attribute attribute-hot" data-attribute="hot" type="button">
                                    {{localize "IR.AttributeHotShort"}}
                                </button>
                                <button class="item-attribute weapon-attribute attribute-quick" data-attribute="quick" type="button">
                                    {{localize "IR.AttributeQuickShort"}}
                                </button>
                                <button class="item-attribute weapon-attribute attribute-bright" data-attribute="bright" type="button">
                                    {{localize "IR.AttributeBrightShort"}}
                                </button>
                            </div>
                            <div class="item-controls">
                                <a class="item-control weapon-control" title="{{ localize 'IR.ItemEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control weapon-control" title="{{ localize 'IR.ItemDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-summary">
                                {{#if item.tagLabels}}
                                <p class="item-summary-heading">{{localize "IR.WeaponTags"}}</p>
                                <div class="item-tag-list">
                                    {{#each item.tagLabels as |tag key|}}
                                    {{#if (eq tag.type "number")}}
                                    <span class="item-tag" title="{{localize tag.description}}">{{localize tag.label}} {{tag.value}}</span>
                                    {{else}}
                                    <span class="item-tag" title="{{localize tag.description}}">{{localize tag.label}}</span>
                                    {{/if}}
                                    {{/each}}
                                </div>
                                {{/if}}

                                {{#if (eq item.data.category "projected")}}
                                <p class="item-summary-heading">{{localize "IR.WeaponProjectedPattern"}}</p>
                                <div class="item-tag-list">
                                    <span class="item-tag" title="Pattern">{{item.data.projectedData.pattern}}</span>
                                    <span class="item-tag" title="Type">{{item.data.projectedData.type}}</span>
                                </div>
                                {{#if item.data.projectedData.patternTrait}}
                                {{{item.data.projectedData.patternTrait}}}
                                {{/if}}
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Powers</h3>
                <div class="item-list">
                    <div class="item-list-header">
                        <div class="item-list-heading item-title">{{localize "IR.PowerName"}}</div>
                        <div class="item-list-heading item-cost">{{localize "IR.PowerCost"}}</div>
                        <div class="item-list-heading item-controls">
                            <a class="item-control" title="{{ localize 'IR.ItemCreate' }}" data-action="create" data-item-type="power"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <ol class="item-list-body">
                        {{#each items.powers as |item id|}}
                        <li data-item-id="{{item._id}}" class="item">
                            <div class="item-title">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                                <div class="item-name">{{item.name}}</div>
                            </div>
                            <div class="item-cost">{{item.data.cost}}</div>
                            <div class="item-controls">
                                <a class="item-control" title="{{ localize 'IR.ItemEdit' }}" data-action="edit"><i class="fas fa-edit"></i></a>
                                <a class="item-control" title="{{ localize 'IR.ItemDelete' }}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </div>
                            <div class="item-summary">
                                {{{item.data.description}}}
                            </div>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Passive</h3>
                <div class="editor-wrapper">
                    {{editor content=systemData.passive.content target="data.passive.content" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="sheet-section-divider"></div>
            <div class="sheet-section">
                <h3 class="sheet-section-heading">Overdrive</h3>
                <div class="editor-wrapper">
                    {{editor content=systemData.overdrive.content target="data.overdrive.content" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=systemData.biography target="data.biography" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section>
</form>
