<form class="form-roll">
    <div class="modifier-group">
        <button type="button" data-modifier="-1">-1</button>
        <button type="button" data-modifier="-2">-2</button>
        <button type="button" data-modifier="-3">-3</button>
        <button type="button" data-modifier="-4">-4</button>
        <button type="button" data-modifier="1">+1</button>
        <button type="button" data-modifier="2">+2</button>
    </div>
    <div class="form-group">
        <label>{{ localize "IR.CheckModifier" }}</label>
        <input type="number" name="modifier-value" value="" placeholder="0" autofocus />
    </div>
</form>
