<div class="item-tag-list">
    <span class="item-tag">{{localize "IR.ActionAttack"}}</span>
    
    {{#if tagLabels}}
    <span class="item-tag-divider"></span>
    {{/if}}

    {{#each tagLabels as |tag key|}}
    {{#if (eq tag.type "number")}}
    <span class="item-tag" title="{{localize tag.description}}">{{localize tag.label}} {{tag.value}}</span>
    {{else}}
    <span class="item-tag" title="{{localize tag.description}}">{{localize tag.label}}</span>
    {{/if}}
    {{/each}}
</div>

<div class="info">{{localize "IR.WeaponBand"}}: {{item.data.band}}</div>
<div class="info">{{localize "IR.WeaponHits"}}: {{item.data.hits}}</div>
<div class="info">{{localize "IR.WeaponHarm"}}: {{item.data.harm}}</div>
