<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="sheet-property">
                <label>{{localize "IR.WeaponCategory"}}</label>
                <select name="data.category">
                    {{#select systemData.category}}
                    <option value="projected">{{localize "IR.WeaponCategoryProjected"}}</option>
                    <option value="mounted">{{localize "IR.WeaponCategoryMounted"}}</option>
                    {{/select}}
                </select>
            </div>
            <div class="sheet-property sheet-property-tags">
                <label>{{localize "IR.WeaponTags"}}</label>
                <div class="item-tag-list">
                    {{#each tagLabels as |tag key|}}
                    {{#if (eq tag.type "number")}}
                    <span class="item-tag">{{localize tag.label}} {{tag.value}}</span>
                    {{else}}
                    <span class="item-tag">{{localize tag.label}}</span>
                    {{/if}}
                    {{/each}}
                </div>
                <a class="weapon-control" title="{{localize 'IR.WeaponTags'}}" data-action="tags">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="sheet-subsection">
            <div class="sheet-property-group">
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponRangeType"}}</label>
                    <select name="data.rangeType">
                        {{#select systemData.rangeType}}
                        <option value="melee">{{localize "IR.WeaponRangeTypeMelee"}}</option>
                        <option value="ranged">{{localize "IR.WeaponRangeTypeRanged"}}</option>
                        {{/select}}
                    </select>
                </div>
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponBand"}}</label>
                    <input type="text" name="data.band" value="{{systemData.band}}" />
                </div>
            </div>
            <div class="sheet-property-group">
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponHits"}}</label>
                    <input type="text" name="data.hits" value="{{systemData.hits}}" />
                </div>
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponHarm"}}</label>
                    <input type="text" name="data.harm" value="{{systemData.harm}}" />
                </div>
            </div>
            {{#if (eq systemData.category "projected")}}
            <div class="sheet-property-group">
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponProjectedPattern"}}</label>
                    <input type="text" name="data.projectedData.pattern" value="{{systemData.projectedData.pattern}}" />
                </div>
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponProjectedType"}}</label>
                    <input type="text" name="data.projectedData.type" value="{{systemData.projectedData.type}}" />
                </div>
            </div>
            <div class="sheet-property-group">
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponStrongHitMinimum"}}</label>
                    <input type="number" name="data.strongHitMinimum" value="{{systemData.strongHitMinimum}}" />
                </div>
                {{#if hasParry}}
                <div class="sheet-property">
                    <label>{{localize "IR.WeaponParryDice"}}</label>
                    <input type="number" name="data.parryDice" value="{{systemData.parryDice}}" />
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        {{#if (eq systemData.category "projected")}}
        <h3 class="sheet-subheading">{{localize "IR.WeaponProjectedPatternTrait"}}</h3>
        <div class="editor-wrapper-flex">
            {{editor content=systemData.projectedData.patternTrait target="data.projectedData.patternTrait" button=true owner=owner editable=editable}}
        </div>
        {{/if}}
    </section>

</form>
