<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="sheet-property">
                <label>{{localize "IR.PowerType"}}</label>
                <select name="data.type">
                    {{#select systemData.type}}
                    <option value="none">{{localize "IR.PowerTypeNone"}}</option>
                    <option value="revolver">{{localize "IR.PowerTypeRevolver"}}</option>
                    <option value="recharge">{{localize "IR.PowerTypeRecharge"}}</option>
                    <option value="passive">{{localize "IR.PowerTypePassive"}}</option>
                    {{/select}}
                </select>
            </div>
            {{#if (eq systemData.type "revolver")}}
            <div class="sheet-property">
                <label>{{localize "IR.PowerCost"}}</label>
                <input type="text" name="data.cost" value="{{systemData.cost}}" />
            </div>
            {{/if}}
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="sheet-subsection">
            <h3 class="sheet-subheading">{{localize "IR.PowerDescription"}}</h3>
            <div class="editor-wrapper-flex">
                {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>
    </section>

</form>
