<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            <div class="sheet-property-group">
                <div class="sheet-property">
                    <label>{{localize "IR.PowerCost"}}</label>
                    <input type="text" name="data.cost" value="{{systemData.cost}}" />
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <h3 class="sheet-subheading">{{localize "IR.PowerDescription"}}</h3>
        <div class="editor-wrapper-flex">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>

</form>
