.chat-message {
  --color-border-light-primary: #b0b0b0;
  color: var(--color-text-light-highlight);
  background: none;
  background-color: var(--color-bg-window);
}

.chat-message .message-header {
  color: var(--color-text-light-primary);
}

.chat-message .message-header h4.action {
  font-weight: 700;
  line-height: 1.5em;
  margin: 0;
}

.chat-message .message-header .chat-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  font-size: 0.75rem;
  border-top: 1px solid var(--color-border-light-primary);
  border-bottom: 1px solid var(--color-border-light-primary);
}

.chat-message .message-header .chat-item-header img {
  height: 36px;
  margin-right: 6px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.chat-message .message-header .chat-item-header h3 {
  margin: 0;
  font-family: var(--font-headings), sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  color: var(--color-text-light-heading);
}

.chat-message .message-header .chat-item-header .chat-card-title {
  flex: 1;
}

.chat-message .info {
  line-height: 1.5;
  font-size: var(--font-size-12);
  color: var(--color-text-light-primary);
}

.chat-message .check-hit {
  font-weight: bold;
}

.chat-message .check-hit.hit-null {
  color: var(--color-null);
}

.chat-message .check-hit.hit-weak {
  color: var(--color-weak);
}

.chat-message .check-hit.hit-strong {
  color: var(--color-strong);
}

.chat-message .check-hit.hit-crit {
  color: var(--color-crit);
}

.chat-message .item-tag-list {
  padding-top: 2px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1rem;
}

.chat-message .item-tag-list .item-tag {
  padding: 1px 4px;
  margin-right: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--color-text-light-heading);
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;
}

.chat-message .dice-tooltip .dice-rolls .roll.failure,
.chat-message .dice-tooltip .dice-rolls .roll.min {
  color: #000;
  filter: none;
}

.chat-message .dice-tooltip .dice-rolls .roll.rerolled {
  color: #000;
  filter: opacity(0.25);
}
:root {
  --color-primary: #fdc000;
  --color-null: #d6b100;
  --color-weak: #fedf00;
  --color-strong: #ffef78;
  --color-crit: #fff3b6;
  --color-hot: #00c2e2;
  --color-quick: #c4db00;
  --color-bright: #ff008a;
  --color-bg-window: #202020;
}
.infinite-revolution .editor,
.infinite-revolution .editor-content {
  height: 100%;
}

.infinite-revolution .editor .editor-content {
  min-height: 50px;
}

.infinite-revolution .editor-wrapper-flex {
  flex: 1;
}

.infinite-revolution .tox {
  min-height: 200px;
}

.infinite-revolution .tox-edit-area {
  padding: 0 8px;
}

.infinite-revolution .editor .editor-edit {
  color: var(--color-bg-window);
}

.infinite-revolution-highlight {
  color: var(--color-primary);
}

.mce-content-body {
  color: var(--color-text-light-highlight);
}

.tox-menu.tox-collection.tox-collection--list {
  background-color: var(--color-bg-window);
  color: var(--color-text-light-highlight);
}

.tox-menu.tox-collection.tox-collection--list .tox-collection__item--active {
  background-color: rgba(255, 255, 255, 0.1);
}

.tox-menu.tox-collection.tox-collection--list .tox-collection__item--active:not(.tox-collection__item--state-disabled) {
  color: var(--color-text-light-highlight);
}

.tox-menu.tox-collection.tox-collection--list .tox-collection__item-label,
.tox-menu.tox-collection.tox-collection--list .tox-collection__item-caret {
  color: var(--color-text-light-highlight);
}

.tox-menu.tox-collection.tox-collection--list .tox-collection__item-caret svg {
  fill: var(--color-text-light-highlight);
}
:root {
  --font-headings: "Kdam Thmor Pro", sans-serif;
}

/* khmer */

@font-face {
  font-family: 'Kdam Thmor Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../../../../../systems/infinite-revolution/fonts/KdamThmorPro.ttf") format('woff2');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

/* latin-ext */

@font-face {
  font-family: 'Kdam Thmor Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../../../../../systems/infinite-revolution/fonts/KdamThmorPro.ttf") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Kdam Thmor Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../../../../../../systems/infinite-revolution/fonts/KdamThmorPro.ttf") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.infinite-revolution .item-table {
  text-align: left;
}

.infinite-revolution .item-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.infinite-revolution .item-table td {
  padding: 0.25em 0;
}

.infinite-revolution .item-table td:first-child {
  padding-left: 0.25em;
}

.infinite-revolution .item-table td:last-child {
  padding-right: 0.25em;
}

.infinite-revolution .item-table img {
  border: none;
  vertical-align: middle;
}

.infinite-revolution .item-table .item-controls {
  text-align: right;
}

.infinite-revolution .item-table .item-control {
  padding-right: 5px;
}

.infinite-revolution .item-list {
  margin-top: 6px;
}

.infinite-revolution .item-list .item-list-header {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.infinite-revolution .item-list .item-list-header .item-list-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
  border-left: none;
}

.infinite-revolution .item-list .item-list-header .item-title {
  padding-left: 3px;
}

.infinite-revolution .item-list .item-list-body {
  margin: 0;
  padding: 0;
  list-style: none;
}

.infinite-revolution .item-list .item-list-body .item-icon {
  margin: 3px 6px 3px 3px;
}

.infinite-revolution .item-list .item-list-body img {
  border: none;
  margin: 0;
}

.infinite-revolution .item-list .item-list-body li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infinite-revolution .item-list .item-list-body li:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.infinite-revolution .item-list .item-title,
.infinite-revolution .item-list .item-band,
.infinite-revolution .item-list .item-hits,
.infinite-revolution .item-list .item-harm,
.infinite-revolution .item-list .item-cost,
.infinite-revolution .item-list .item-attributes,
.infinite-revolution .item-list .item-controls {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infinite-revolution .item-list .item-band,
.infinite-revolution .item-list .item-hits,
.infinite-revolution .item-list .item-harm,
.infinite-revolution .item-list .item-cost,
.infinite-revolution .item-list .item-attributes,
.infinite-revolution .item-list .item-controls {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.infinite-revolution .item-list .item-title {
  justify-content: flex-start;
}

.infinite-revolution .item-list .item-band {
  flex: 0 0 80px;
}

.infinite-revolution .item-list .item-hits {
  flex: 0 0 50px;
}

.infinite-revolution .item-list .item-harm {
  flex: 0 0 50px;
}

.infinite-revolution .item-list .item-cost {
  flex: 0 0 60px;
}

.infinite-revolution .item-list .item-attributes {
  flex: 0 0 100px;
}

.infinite-revolution .item-list .item-attributes .item-attribute {
  cursor: pointer;
}

.infinite-revolution .item-list .item-controls {
  flex: 0 0 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.infinite-revolution .item-list .item-controls .item-control {
  padding-right: 6px;
}

.infinite-revolution .item-attributes {
  display: flex;
  flex-direction: row;
}

.infinite-revolution .item-attributes button {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-border-light-tertiary);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  padding-top: 6px;
  padding-bottom: 4px;
}

.infinite-revolution .item-attributes .attribute-hot {
  color: var(--color-hot);
}

.infinite-revolution .item-attributes .attribute-quick {
  color: var(--color-quick);
}

.infinite-revolution .item-attributes .attribute-bright {
  color: var(--color-bright);
}

.infinite-revolution .item .item-title .item-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.infinite-revolution .item .item-title .item-icon img {
  filter: none;
  transition: filter 0.1s ease;
}

.infinite-revolution .item .item-title .item-icon i {
  position: absolute;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.infinite-revolution .item .item-title .item-icon:hover img {
  filter: brightness(0.25);
}

.infinite-revolution .item .item-title .item-icon:hover i {
  opacity: 1;
}

.infinite-revolution .item .item-name {
  cursor: pointer;
  transition: color 0.1s ease;
}

.infinite-revolution .item .item-name:hover {
  color: var(--color-primary);
}

.infinite-revolution .item .item-summary {
  flex: 100%;
  padding: 12px 8px 0;
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  opacity: 0;
  background-color: var(--color-bg-window);
  transition: opacity 0.2s ease;
}

.infinite-revolution .item .item-summary .item-summary-heading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  line-height: 1;
  padding-bottom: 8px;
  padding-top: 2px;
  font-family: var(--font-headings), sans-serif;
}

.infinite-revolution .item .item-summary .item-tag-list {
  margin-bottom: 12px;
}

.infinite-revolution .item .item-summary p {
  margin-top: 0;
  margin-bottom: 12px;
}

.infinite-revolution .item.expanded .item-summary {
  opacity: 1;
}
.infinite-revolution .trait-list {
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.infinite-revolution .trait-list .trait-selection-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infinite-revolution .trait-list .trait-selection-label .trait-label {
  flex: 2;
}

.infinite-revolution .trait-list .trait-selection-label input:disabled {
  display: none;
}

.infinite-revolution .trait-list .trait-selection-label input[type="number"] {
  flex: 0 0 60px;
}

.infinite-revolution .trait-footer {
  flex: 0;
  margin-top: 5px;
}
.infinite-revolution .item-tag-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.infinite-revolution .item-tag-list .item-tag {
  padding: 1px 4px;
  margin-right: 2px;
  margin-top: 1px;
  margin-bottom: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid var(--color-border-light-secondary);
  border-radius: 3px;
}
.infinite-revolution {
  --color-border-light-primary: rgba(255, 255, 255, 0.6);
  --color-border-light-secondary: rgba(255, 255, 255, 0.5);
  --color-border-light-tertiary: rgba(255, 255, 255, 0.4);
  --color-border-light-readonly: rgba(255, 255, 255, 0.2);
  /* Sheet Tabs */
}

.infinite-revolution input[type="text"],
.infinite-revolution input[type="number"],
.infinite-revolution input[type="password"],
.infinite-revolution input[type="date"],
.infinite-revolution input[type="time"],
.infinite-revolution button,
.infinite-revolution select {
  color: var(--color-text-light-highlight);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 3px;
}

.infinite-revolution input[type="text"].input-core,
.infinite-revolution input[type="number"].input-core,
.infinite-revolution input[type="password"].input-core,
.infinite-revolution input[type="date"].input-core,
.infinite-revolution input[type="time"].input-core,
.infinite-revolution button.input-core,
.infinite-revolution select.input-core {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-bg-window);
  font-family: var(--font-headings), sans-serif;
  font-size: 2em;
  height: auto;
  padding: 2px 5px 0;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
}

.infinite-revolution input[type="text"].input-core:focus,
.infinite-revolution input[type="number"].input-core:focus,
.infinite-revolution input[type="password"].input-core:focus,
.infinite-revolution input[type="date"].input-core:focus,
.infinite-revolution input[type="time"].input-core:focus,
.infinite-revolution button.input-core:focus,
.infinite-revolution select.input-core:focus {
  text-transform: none;
}

.infinite-revolution input[type="text"]:focus,
.infinite-revolution input[type="number"]:focus,
.infinite-revolution input[type="password"]:focus,
.infinite-revolution input[type="date"]:focus,
.infinite-revolution input[type="time"]:focus,
.infinite-revolution button:focus,
.infinite-revolution select:focus {
  box-shadow: 0 0 5px var(--color-primary);
}

.infinite-revolution input[type="text"] option,
.infinite-revolution input[type="number"] option,
.infinite-revolution input[type="password"] option,
.infinite-revolution input[type="date"] option,
.infinite-revolution input[type="time"] option,
.infinite-revolution button option,
.infinite-revolution select option {
  background-color: var(--color-bg-window);
}

.infinite-revolution button:hover {
  box-shadow: 0 0 5px var(--color-primary);
}

.infinite-revolution a:hover {
  text-shadow: 0 0 8px var(--color-primary);
}

.infinite-revolution input[type="text"]:read-only,
.infinite-revolution input[type="number"]:read-only,
.infinite-revolution input[type="password"]:read-only,
.infinite-revolution input[type="date"]:read-only,
.infinite-revolution input[type="time"]:read-only {
  border-style: dotted;
}

.infinite-revolution .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background: none;
  background-color: var(--color-bg-window);
  color: var(--color-text-light-highlight);
}

.infinite-revolution form {
  height: 100%;
}

.infinite-revolution .sheet-header {
  flex: 0 100px;
  margin-bottom: 10px;
}

.infinite-revolution .sheet-header .profile-img {
  height: 100px;
  margin-right: 10px;
  border: none;
}

.infinite-revolution .sheet-header h1.charname {
  flex: 0;
  padding-bottom: 4px;
  font-family: var(--font-headings), sans-serif;
  font-size: 1.5em;
}

.infinite-revolution .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.infinite-revolution .sheet-header .sheet-property {
  padding: 0;
}

.infinite-revolution .header-fields {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.infinite-revolution .header-fields .sheet-property-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.infinite-revolution .attribute-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.infinite-revolution .sheet-property-list {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-evenly;
}

.infinite-revolution .sheet-property-group {
  display: flex;
  flex-direction: row;
}

.infinite-revolution .sheet-property-group > :not(:last-child) {
  margin-right: 12px;
}

.infinite-revolution .property {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.infinite-revolution .property input {
  width: 80px;
  height: 28px;
}

.infinite-revolution .property label {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

.infinite-revolution .sheet-property {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0;
}

.infinite-revolution .sheet-property label {
  flex: 0 80px;
  color: var(--color-primary);
  font-weight: bold;
  margin-right: 4px;
}

.infinite-revolution .sheet-property input,
.infinite-revolution .sheet-property select {
  flex: 1;
}

.infinite-revolution .attribute label {
  cursor: pointer;
}

.infinite-revolution .attribute label:hover {
  text-decoration: underline;
}

.infinite-revolution .attribute.attribute-hot label {
  color: var(--color-hot);
}

.infinite-revolution .attribute.attribute-quick label {
  color: var(--color-quick);
}

.infinite-revolution .attribute.attribute-bright label {
  color: var(--color-bright);
}

.infinite-revolution .sheet-subheading {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.25em;
  margin: 0;
  padding-top: 8px;
  font-family: var(--font-headings), sans-serif;
}

.infinite-revolution .sheet-section {
  padding: 10px 10px;
  border-left: 4px solid var(--color-primary);
}

.infinite-revolution .sheet-section:last-child {
  border-image: linear-gradient(to bottom, var(--color-primary), rgba(0, 0, 0, 0)) 1 100%;
}

.infinite-revolution .sheet-section-heading {
  flex: 1;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.25em;
  margin: 0;
  font-family: var(--font-headings), sans-serif;
}

.infinite-revolution .sheet-section-divider {
  border-bottom: 4px solid var(--color-primary);
  border-image: linear-gradient(to right, var(--color-primary), rgba(0, 0, 0, 0)) 100% 1;
}

.infinite-revolution .sheet-section-editor {
  min-height: 50px;
  height: 100%;
  position: relative;
}

.infinite-revolution .sheet-heading-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infinite-revolution .tabs {
  flex: 0 0 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.infinite-revolution .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.infinite-revolution .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.infinite-revolution .sheet-body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.infinite-revolution .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.infinite-revolution.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.infinite-revolution.sheet.item {
  min-width: 460px;
  min-height: 400px;
}